body.matrix-mode {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: monospace;
  background-color: black;
  color: #00ff00;
}

canvas#matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.matrix-overlay {
  position: relative;
  z-index: 1;
  color: #00ff00;
}

.tools-section h2 {
  color: #00ff00;
}

.tool-tile.with-image {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #00ff00;
  color: #00ff00;
  text-align: center;
}

.tool-tile img {
  max-width: 200px;
  margin-bottom: 10px;
  border: px solid #00ff00;
  border-radius: 8px;
}
